body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: white;
}

header {
    padding: 20px;
}

.image-container {
    max-width: 400px;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
    transform: scale(1.05);
}

.about {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
}

.socials {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: #E1306C;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #ff0055;
}

footer {
    margin-top: 40px;
    padding: 10px;
    font-size: 14px;
}